.pintar{
    position: relative;
    background-color: rgba(245, 245, 245, 0.699);
    top: 250px;
    left: 500px;
}

.absolute{
    position: fixed;
    bottom: 50px;
    right: 100px;
}

.p{
    line-height: 1.6;
    text-align: justify;
}

body{   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #c2b3b3;
    color: #744704;
}

.panel{
    background-color:  rgb(240,240,255);
    color: rgba(4, 28, 63, 0.7);
}
footer{
    color: rgb(25, 1, 39);
}
section{
    border-style: dotted;
    border-color: black;
}