/*Este es el ejercicio 1*/
body{
    background-color: #f7f7f7;
    text-align: center;
}
/*Este es el ejercicio 2y3*/
h1{
    color: rgb(110, 52, 110);
    font-size: 28px;

}
/*Ejercicio4*/
.card{
    border: 5px;
    padding: 16px;
    color:#f7f7
}
/*ejercicio6*/
input[type='text']{
    border-color: gray;
    padding: 40px;
}

section{border-color: rgb(206, 98, 48);
    border-style: dashed;
    box-sizing: border-box;
    box-shadow: 50px, 50px, 100px, rgba(rgb(124, 66, 66), rgb(97, 139, 97), rgb(62, 62, 90), 0.5);
    text-shadow: 20px, 20px, 50px, yellowgreen;
    margin: 10px, 10px, 10px, 10px,;
}