nav{   
    text-transform: uppercase;
}
/*Ejercicio11*/
h1{ 
    color: rgb(231, 168, 30);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

}
header{
    color: gray;
}
.pintar{
    position: relative;
    background-color: rgba(182, 168, 194, 0.699);
    top: 250px;
    left: 500px;
}

.absolute{
    position: fixed;
    bottom: 50px;
    right: 100px;
}
.p{
    line-height: 1.6;
    text-align: justify;
}

/*Ejercicio10*/
body{   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #442929;
    color: #fff;
}
/*ejercicio5*/
#sobre-el-autor{ 
    height: 300px;
    position: center;
}

section{
    border-style: dotted;
    border-color: black;
}
/*ejercicio7*/
.panel{
    background-color:  rgb(240,240,255);
    color: rgba(11, 99, 230, 0.7);
}
footer{
    color: bisque;
}
