nav{   
    text-transform: uppercase;
}
h1{ 
    color: rgb(231, 168, 30);
    font-size: 24px;
}
header{
    color: rgba(220, 20, 60, 0.514);
}
pintar{
    position: relative;
    background-color: blueviolet;
    top: 250px;
    left: 500px;
}

.absolute{
    background-color: red;
    position: fixed;
    bottom: 50px;
    right: 100px;

}
body{   background-color: #333;
    color: #fff;
}
/*ejercicio5*/
#sobre-el-autor{ 
    height: 300px;
    position: center;
}

section{
    border-style: dotted;
    border-color: black;
}
/*ejercicio7*/
.panel{
    background-color:  rgb(240,240,255);
    color: rgba(0,0,0,0.7);
}



